.lab_links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.lab_links a{
    text-decoration: none;
    color: #1f206d;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.2s ease;
    font-weight: 600;
    width: fit-content;
}
.lab_links a:hover{
    color: #a9478f;
}